.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}

.navbar {
  background-color: green;
}

/* .jumbotron{
    background-color: green;
    } */

footer {
  background-color: green;
  color: white;
}
